<navbar></navbar>

<!-- Body -->
<header>
    <video controls>
        <source src="ruta/al/video-bienvenida.mp4" type="video/mp4">
    </video>
</header>

<main class="propuesta-valor">
    <section>

        <h2>Nuestra empresa de servicios de limpieza profesional nace del deseo de ofrecer a nuestros clientes un
            entorno seguro y confiable. En un contexto donde la informalidad en el sector ha llevado a situaciones
            preocupantes, hemos decidido establecer un estándar que prioriza la integridad y la protección del
            hogar.Seleccionamos minuciosamente a nuestro personal, llevando a cabo verificaciones de antecedentes y
            brindando formación en ética y profesionalismo. Al elegir nuestros servicios, nuestros clientes pueden tener
            la certeza de que su hogar está en manos responsables, permitiéndoles disfrutar de un espacio limpio sin
            preocupaciones.</h2>
        <div class="valor-item">
            <img src="ruta/al/imagen-1.png" alt="Descripción Imagen1">
            <p>Exclusividad y Personalización:
                Servicio de limpieza adaptado a las necesidades de clientes más exclusivos, con evaluación inicial para
                personalizar los servicios.</p>
        </div>
        <div class="valor-item">
            <img src="ruta/al/imagen-2.png" alt="Descripción Imagen2">
            <p>Personal Calificado y Confiable:
                Equipo de profesionales seleccionados y entrenados, con verificación de antecedentes y formación
                continua para asegurar confianza.</p>
        </div>
        <div class="valor-item">
            <img src="ruta/al/imagen-3.png" alt="Descripción Imagen3">
            <p>Productos Ecológicos y de Alta Calidad:
                Uso de productos de limpieza ecológicos y seguros para familias, mascotas y el medio ambiente.</p>
        </div>
        <div class="valor-item">
            <img src="ruta/al/imagen-4.png" alt="Descripción imagen-4">
            <p>Flexibilidad y Comodidad: 
                Opciones de programación flexibles y sistema de reservas fácil de usar a través de una plataforma digital.</p>
        </div>
        <div class="valor-item">
            <img src="ruta/al/imagen-3.png" alt="Descripción Imagen3">
            <p>Atención al Cliente Personalizada: 
                Servicio al cliente excepcional, disponible para consultas y solicitudes, priorizando la satisfacción del cliente.</p>
        </div>
        <div class="valor-item">
            <img src="ruta/al/imagen-3.png" alt="Descripción Imagen3">
            <p>Seguridad y Tranquilidad:
                Protocolos estrictos para la protección de bienes y privacidad, respaldados por un seguro de responsabilidad civil.</p>
        </div>
    </section>
   
</main>

<!-- Footer -->
<footer>
    <div class="footer-links">
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos de Servicios</a>
    </div>
    <p>©2023 Lynxes. Todos los derechos reservados.</p>
</footer>