<navbar></navbar>
<div class="limpieza-container">
    <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen" class="hero-image" />
    <div class="services-description">
        <h2>Servicios de Limpieza</h2>
        <p>1. Apartamentos:
            Nuestro servicio de limpieza para apartamentos está diseñado para adaptarse a tu estilo de vida y
            necesidades específicas. Desde la limpieza profunda de todas las áreas hasta tareas más ligeras como el aseo
            semanal o quincenal, nuestro equipo se encarga de eliminar el polvo, los alérgenos y mantener un ambiente
            acogedor. Nos aseguramos de que cada rincón, desde la cocina hasta el baño, reciba la atención que merece.

            2. Casas:
            Ofrecemos servicios de limpieza exhaustivos y personalizados para casas de cualquier tamaño. Ya sea una
            limpieza programada o un servicio de limpieza especial antes de una ocasión, nuestro personal capacitado se
            encargará de todo. Limpiamos pisos, ventanas, muebles y superficies, garantizando que cada habitación esté
            impecable. También contamos con opciones de limpieza a fondo que incluyen armarios y rincones difíciles de
            alcanzar.

            3. Quintas:
            Nuestro servicio de limpieza para quintas se adapta a la complejidad y el espacio de estos hogares.
            Realizamos limpiezas exteriores e interiores, cuidando tanto áreas comunes como espacios específicos. Desde
            el cuidado de jardines hasta la limpieza de interiores, nuestro enfoque integral asegura que tu quinta luzca
            siempre en perfectas condiciones, permitiéndote disfrutar de tus espacios al aire libre sin preocupaciones.

            4. Mansiones:
            En nuestras limpiezas para mansiones, entendemos que cada detalle cuenta y que la presentación es
            primordial. Nuestro equipo de limpieza profesional se enfoca en mantener la elegancia y el brillo de cada
            habitación, utilizando productos de calidad que protegen tus superficies. Nos encargamos de tareas complejas
            como la limpieza de alfombras, cristales y áreas especiales como gimnasios o bibliotecas, asegurando una
            experiencia de lujo en tu hogar.

            5. Oficinas:
            Un espacio de trabajo limpio es fundamental para la productividad y el bienestar de los empleados. Nuestros
            servicios de limpieza de oficinas incluyen limpieza diaria, semanal o mensual, abarcando áreas de trabajo,
            salas de reuniones y espacios comunes. Nos aseguramos de desinfectar superfícies, manejar correctamente los
            residuos y mantener un ambiente profesional, permitiendo que tu equipo se concentre en lo que realmente
            importa.</p>
    </div>
</div>